/* ≥576px */
@media screen and (max-width: 576px) {
  .about-text {
    width: 100%;
  }
  .project-name {
    font-size: 30px;
  }

  .md-block {
    display: inline-block;
    margin-left: 0;
  }
}

@media screen and (max-width: 591px) {
  /* Work Page */
  .btn--back {
    margin-bottom: 40px;
  }

  .demo-link-list {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .section-title.project-title {
    font-size: 36px;
  }
}
