.body__container {
  width: 100%;
  min-height: 100vh;
  background-color: #005dc2;
}

.welcome-header {
  padding: 20px;
}

.welcome-title {
  font-family: "Permanent Marker", cursive;
  color: #ffc400;
  text-align: center;
  font-size: 32px;
  animation: chOpacity 2s forwards;
  opacity: 0;
}

.welcome-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.enter-circle {
  position: relative;
}

.btn--enter {
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: 1s all;
  font-family: "Noto Sans KR", sans-serif;
}

.btn--enter:hover {
  transform: scale(1.2);
  background-color: #fff;
  color: #005dc2;
}
