#skip-nav {
  position: relative;
  z-index: 999;
  text-align: center;
}

#skip-nav a {
  position: absolute;
  top: -200px;
  left: 0;
  width: 160px;
  line-height: 30px;
  border: 1px solid #eee;
  background-color: #333;
  color: #fff;
}

#skip-nav a:focus,
#skip-nav a:active {
  top: 0;
}
